gunicorn==19.7.1
watchdog==0.8.3
asyncio-redis==0.14.3
sanic-session==0.1.5
Jinja2==2.10
-e git://github.com/lyncir/python-creole.git@4cecca2cc975594b1c8c1cbb99c4e4369f7212dc#egg=python-creole
Genshi==0.7
Pygments==2.2.0
sanic==0.7.0
